@import "../../style/animation.scss";
@import "../../style/colors.scss";
@import "../../style/media.scss";

@mixin shadow-transition {
	transition: box-shadow $instant-duration, transform $instant-duration;
}

@mixin shadow-on {
	$size: 0.15rem;

	transform: translateY(-$size);
	box-shadow: 0 $size $size $transparent-black;
}

@mixin shadow-off {
	transform: translateY(0);
	box-shadow: none;
}

@mixin Button($background-color: $red) {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	background: $background-color;
	color: white;
	font: inherit;
	white-space: nowrap;
	padding: {
		top: 0.4em;
		bottom: 0.4em;
		left: 1em;
		right: 1em;
	};
	border: {
		radius: 0.5rem;
		width: 0;
	};

	@include shadow-transition;

	&:hover {
		@include shadow-on;
	}

	&:active {
		@include shadow-off;
	}

	@include touchable {
		@include shadow-on;
	}
}

.Button {
	@include Button;
}
