@import "./Button.scss";

@mixin CircleButton($background-color: $red) {
	@include Button($background-color, true);

	font-size: 2em;
	width: 1.8em;
	height: 1.8em;
	padding: 0;
	border-radius: 1.8em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.CircleButton {
	@include CircleButton;
}
