@import "../../style/colors.scss";
@import "./Button.scss";
@import "./Task.scss";
@import "./TaskDescription.scss";

.CreateTask-form {
	@extend .Task-container;

	width: 40em;
	padding: 1em;
	display: flex;
	flex-direction: column;
}

.CreateTask-button-text {
	margin-right: 0.3em;
}

.CreateTask-description {
	@extend .TaskDescription-input;

	flex: 1;
}

.CreateTask-buttons {
	display: flex;

	> * {
		flex: 1;
		margin-right: 0.5em;

		&:last-child {
			margin-right: 0;
		}
	}
}

.CreateTask-button {
	@include Button-container($red);
}

.CreateTask-cancel-button {
	@include Button-container($grey);
}
