@import "../../style/animation.scss";
@import "../../style/colors.scss";
@import "../../style/margin.scss";
@import "../../style/media.scss";
@import "./IconedButton.scss";
@import "./NoBoxButton.scss";

@mixin Menu-flex-column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	> * {
		flex-shrink: 0;
	}
}

.Menu {
	@include Menu-flex-column;

	width: 12em;
	max-width: 100%;
	height: 100%;
}

.Menu-upper {
	display: flex;
	flex-direction: column;
	position: relative;
}

.Menu-upper-content {
	color: white;
	display: flex;
	justify-content: center;

	> * {
		margin: 1em;
	}
}

.Menu-lower {
	flex: 1;
	display: flex;
	position: relative;
}

.Menu-lower-content {
	@include Menu-flex-column;
	@include vertical-child-margin(1em);

	align-items: center;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	padding: 1.5em;
}

.Menu-lower-upper {
	@include Menu-flex-column;
	@include vertical-child-margin(1em);

	align-items: center;
	width: 100%;
}

.Menu-states {
	@include Menu-flex-column;
}

.Menu-state-highlighted {
	@include NoBoxButton($red, $red, transparent);

	cursor: auto;
}

@mixin Menu-background {
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: -1;
}

.Menu-upper-background {
	@include Menu-background;

	background: $red;
	bottom: 0;
	right: 0;

	@include small-window {
		left: 0;
		right: auto;
	}
}

.Menu-lower-background {
	@include Menu-background;

	background: white;
	top: 0;
	right: 0;

	@include small-window {
		left: 0;
		right: auto;
	}
}

.Menu-sort-button {
	@include IconedButton($grey);
}
