@import "../../style/colors.scss";
@import "../../style/margin.scss";
@import "../../style/media.scss";
@import "./IconedButton.scss";
@import "./TextButton.scss";

@mixin background {
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: -1;
	right: 0;

	@include small-window {
		left: 0;
		right: unset;
	}
}

@mixin column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	> * {
		flex-shrink: 0;
	}
}

.MenuBox {
	@include column;

	width: 12em;
	max-width: 100%;
	height: 100%;

	> .upper {
		display: flex;
		flex-direction: column;
		position: relative;

		> .background {
			@include background;

			background: $red;
			bottom: 0;
		}
	}

	> .lower {
		flex: 1;
		display: flex;
		position: relative;

		> .background {
			@include background;

			background: white;
			top: 0;
		}

		> .content {
			@include column;
			@include vertical-child-margin(1em);

			align-items: center;
			width: 100%;
			height: 100%;
			overflow-y: auto;
			padding: 1.5em;

			> .main {
				@include column;
				@include vertical-child-margin(1em);

				align-items: center;
				width: 100%;

				> .states {
					@include column;

					> .state {
						@include TextButton;

						&-highlighted {
							@include TextButton($red, $red, transparent);

							cursor: auto;
						}
					}
				}

				> .sort-button {
					@include IconedButton($grey);
				}
			}
		}
	}
}
