@import "../../style/colors.scss";
@import "./TextButton.scss";

$name-size: 1.2em;

.Project {
	@include TextButton;

	font-size: $name-size;

	&-disabled {
		@include TextButton($red, $red, transparent);

		font-size: $name-size;
	}
}
