@import "../../style/animation.scss";
@import "../../style/colors.scss";
@import "../../style/margin.scss";
@import "../../style/media.scss";
@import "./Button.scss";

@mixin notification {
	font-weight: bold;
}

.Settings {
	@include vertical-child-margin(2em);

	font-size: 1.2em;
	width: 50em;
	max-width: 100%;
	padding: 8vh 8vw;

	&-icon {
		font-size: 2em;
		cursor: pointer;

		> svg {
			transition: transform $short-duration;
		}

		&[data-active="true"] {
			> svg {
				transform: rotate(90deg);
			}
		}
	}

	&-notification-enabled {
		@include notification;

		color: $yellow-green;
	}

	&-notification-disabled {
		@include notification;

		color: $grey;
	}

	&-volume-slider {
		width: 15em;
		max-width: 50%;
		padding-bottom: 1.5em;
		padding-right: 0.5em;
	}

	&-buttons {
		@include horizontal-child-margin(0.5em);

		font-size: 0.9em;
		display: flex;
		align-items: center;
		flex-wrap: wrap;

		> .remote-sync-button {
			@include Button($grey);

			&-signed-out {
				@include Button($yellow-green);
			}
		}
	}

	> .footer {
		font-size: 0.9em;
		border-top: {
			style: solid;
			width: 1px;
			color: $light-grey;
		};
		padding-top: 1em;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-wrap: wrap;

		> * {
			margin: 0 0.6em;
		}

		@include small-window {
			justify-content: flex-start;
		}
	}
}
