@import "../../style/animation.scss";
@import "../../style/colors.scss";
@import "../../style/media.scss";

.SmallIconButton-container {
	color: $black;
	font-size: 1.5em;
	display: flex;
	transition: color $instant-duration, transform $instant-duration;
	cursor: pointer;

	&:hover {
		color: $red;
		transform: scale(1.5, 1.5);
	}

	@include small-window {
		color: $grey;
	}
}
