@import "../../style/animation.scss";
@import "../../style/border.scss";
@import "../../style/margin.scss";
@import "../../style/media.scss";

.Task {
  @include paper-border;
  @include vertical-child-margin(0.3em);

  background: white;
  padding: 0.5em 0.7em;

  > .header {
    @include horizontal-child-margin(0.5em);

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    > .buttons {
      @include horizontal-child-margin(0.1em);

      display: flex;
      align-items: center;
      transition: opacity $instant-duration, visibility $instant-duration;

      &[data-hidden="true"] {
        opacity: 0;
        visibility: hidden;

        @include small-window {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}
