.root {
  background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  color: var(--white);
  font-size: 1.6rem;
  cursor: pointer;
  word-break: break-word;
  height: 4rem;
}
