.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25em;
}

.buttons {
  display: flex;
  align-items: center;

  > :not(:first-child) {
    margin-left: 0.25rem;
  }
}
