@mixin vertical-child-margin($margin) {
  > * {
    margin: $margin 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@mixin horizontal-child-margin($margin) {
  > * {
    margin: 0 $margin;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
